body {
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
  }
  
  .link-tag {
    text-decoration: none;
  }
  /* media queries */
  .right-sidebar {
    padding: 0;
    background-color: #c9c0143a;
    background-image: url(../../images/background.png);
  }
  .left-sidebar {
    background-color: rgb(0, 0, 0);
  }